MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=paymentservice

MYSQL_USER=paymentuser
MYSQL_PASSWORD=secret
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-payment:3306/paymentservice
SPRING_DATASOURCE_USERNAME=paymentuser
SPRING_DATASOURCE_PASSWORD=secret

STRIPE_SECRET_KEY=sk_test_51SzgB3HIVmChxVAYxIMCukq5B3BLNNwdWbKBIft7LMeq3q4U0D4Wk0nZC8gjxLUFZwYUGCb6MVH9xP5G8HKFcxv1005W1VbRFS
STRIPE_WEBHOOK_SECRET=whsec_ea7543173b937a5552437a245b57b9a858431e313ec20cb9b2fc3c463a65n84r

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8083/.well-known/jwks.json